* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  flex-wrap: wrap-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
}

.square {
  background-color: #1d1d1d;
  height: 16px;
  width: 16px;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 0.3s ease-in;
}

.square:hover {
  transition-duration: 0s;
}