@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: black;
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 20px;
  display: flex;
}

.slide {
  height: 80vh;
  border-radius: 0 100px 0 100px;
  cursor: pointer;
  color: white;
  flex: 1;
  margin: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide .slide-header {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 60px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: 0.1s ease-in-out;
}